/* Price Section */
.priceSection{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
}

/* Polygon4 */
.polygon4{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: crimson;
    clip-path: polygon(25% 0, 62% 100%, 100% 100%, 100% 0);
    z-index: -1;
}